= simple_form_for [@survey, @question], :html => { :class => 'form-horizontal' } do |f|
	.row-fluid
		.span6
			= f.input :title, label: "Titulo para exportación", placeholder: 'Titulo para columna de archivo CSV'
			= f.input :type, collection: ::QuestionForm::QUESTION_TYPES, id: "question_type", label: "Tipo"
			= f.input :question_text, label: "Pregunta", placeholder: 'Escriba la Pregunta'
			= f.input :answer_options, as: :text, label: "Opciones de Respuesta", input_html: { :rows => '6' }, hint: 'Escriba las opciones separadas por ENTER. Si no hay opciones deje el cuadro en blanco.', placeholder: 'Escriba las opciones de respuesta separadas por ENTER'
		.span6
			%h4
				%strong Otras Opciones
			.well	
				= f.input :description, label: "Descripción", placeholder: 'Descripción de la pregunta'
				= f.input :answer_presence,   as: :boolean ,label: "¿Es obligatoria?"
				.row-fluid
					.span6
						= f.input :answer_minimum_length, label: "Longitud minina"
					.span6
						= f.input :answer_maximum_length, label: "Longitud maxima"
				.row-fluid
					.span6
						= f.input :answer_greater_than_or_equal_to, label: "Mayor o Igual a" 
					.span6
						= f.input :answer_less_than_or_equal_to , label: "Menor o Igual a"
	.form-actions
		= f.button :submit,  :class => 'btn-primary'
		= link_to t('.cancel', :default => t("helpers.links.cancelar")), survey_questions_path, :class => 'btn'
	