= simple_form_for [@survey, @question], :html => { :class => 'form-horizontal' } do |f|
	%span
	= f.input :type, collection: ::QuestionForm::QUESTION_TYPES, id: "question_type", label: "tipo"
	= f.input :question_text, label: "Pregunta"
	= f.input :answer_options, as: :text, label: "Opciones de Respuesta", input_html: { :rows => '6' }
	= f.hint 'Escriba las opciones separadas por ENTER'
	
	%hr
	%h4 Otras Opciones
	= f.input :answer_presence,   as: :boolean ,label: "¿Es obligatoria?"
	.form-actions
		= f.button :submit, "Crear", :class => 'btn-primary btn-large'
		= link_to t('.cancel', :default => t("helpers.links.cancelar")), survey_questions_path, :class => 'btn'
	