#sortable	
	- @questions.each do |question|
		%tr{class: 'item', data: {item_id: "#{question.id}"}}
			//td=# question.position
			%td= question.type.split('::').last
			%td= link_colored question
			%td=l question.created_at
			%td
				= link_to glyph(:edit),[:edit, question.survey, question], :class => 'btn btn-mini', title: "editar"
				= link_to glyph(:trash, :white), [question.survey, question], :confirm => '¿Esta seguro?', :method => :delete, :class => 'btn btn-danger btn-mini', title: "eliminar"