#sortable	
	- @questions.each do |question|
		%tr{id: "question_#{question.id}", class: "item #{question.validation_rules[:presence] == "1" ? 'label-survey-red' : 'label-survey'}", data: {item_id: "#{question.id}"}}
			%td= check_box_tag "questions_ids[]", question.id
			%td= question.title
			%td= question.type.split('::').last
			%td= link_to question.question_text.truncate(90), [:edit, question.survey, question]
			%td=l question.created_at
			%td
				= link_to glyph(:pencil),[:edit, question.survey, question], :class => 'btn btn-mini', title: "editar"
				= link_to glyph(:trash, :white), [question.survey, question], data: {confirm: '¿Esta seguro?'}, method: :delete, remote: true, :class => 'btn btn-danger btn-mini', title: "eliminar"