- model_class = Question
- provide(:header, "EDITAR PREGUNTA")
= simple_form_for [@survey, @question], :html => { :class => 'form-horizontal' } do |f|
	= render "form", f: f
	.form-actions
		= f.button :submit,  :class => 'btn-primary'
		%span.btn.btn-success.btn-mini
			= f.button :submit,  class: 'btn-success', value: "Actualizar y Nueva", name: "commit_new"
			%i.icon-plus.icon-white
		%span.btn.btn-success.btn-mini
			= f.button :submit,  class: 'btn-success', value: "Guardar como copia", name: "commit_copy"
			%i.icon-retweet.icon-white
		= link_to t('.cancel', :default => t("helpers.links.cancelar")), survey_questions_path, :class => 'btn'