- model_class = Question
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:posicion)
      %th= model_class.human_attribute_name(:tipo)
      %th= model_class.human_attribute_name(:pregunta)
      %th= model_class.human_attribute_name(:creado)
      %th=t '.actions', :default => t("helpers.actiones")
  %tbody
    = render partial: "question"

= link_to t('.new', :default => t("helpers.links.new")), new_survey_question_path, :class => 'btn btn-primary btn-large'
= link_to t('.cancel', :default => t("helpers.links.cancelar")), surveys_path, :class => 'btn'
