- model_class = Question
- provide(:header, "PREGUNTAS")
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= will_paginate @questions
= form_tag destroy_multiple_survey_questions_path, method: :delete  do
	%table.tablesorter#questionTable{:data => {update_url:reorder_survey_questions_path}}
		%thead
			%tr
				%th
				%th= model_class.human_attribute_name(:title)
				%th= model_class.human_attribute_name(:type)
				%th= model_class.human_attribute_name(:question_text)
				%th= model_class.human_attribute_name(:created_at)
				%th=t '.actions', :default => t("helpers.actiones")
		%tbody
			= render partial: "question"
	= button_tag(type: "submit", class: "btn btn-danger", title: "Eliminar selección") do
		%i.icon-trash.icon-white
		= check_box_tag :selectAll
	= link_to new_survey_question_path, class:'btn btn-primary' do
		%i.icon-star.icon-white
		Nueva Pregunta
	= link_to surveys_path, class: 'btn' do
		%i.icon-chevron-left
		Volver
= will_paginate @questions