- if user.admin?
	%tr.success
- else
	%tr
		%td= link_to user.name, user
		%td= human_boolean(user.admin)
		%td= user.created_at
		%td
			= if current_user.admin? && !current_user?(user)
				= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-mini'	
				- link_to t('.delete', :default => t("helpers.links.delete")), user, method: :delete, class: "btn btn-mini btn-danger", data: { confirm: "Esta seguro?" }