- if user.admin?
	%tr.success
- else
	%tr{id: "user_#{user.id}"}
		%td= check_box_tag "users_ids[]", user.id
		%td= link_to user.name, user
		%td= human_boolean(user.admin)
		%td= user.created_at
		%td
			= if current_user.admin? && !current_user?(user)
				= link_to glyph(:pencil), edit_user_path(user), :class => 'btn btn-mini', title: "editar Usuario"	
				- link_to glyph(:trash, :white), user, data: {confirm: '¿Esta seguro?'}, method: :delete, remote: true, class: 'btn btn-danger btn-mini', title: "eliminar"