= simple_form_for @survey, :html => { :class => 'form-horizontal',multipart: true } do |f|
	.row-fluid
		.span11
			= f.input :name
			=	f.input :code
			= f.input :start_date, as: :datetime_picker
			= f.input :end_date, as: :datetime_picker		
			= f.input :scope, collection: {publico: 0, privado: 1}, include_blank: false
			=# f.input "mail",@mail_votante, as: :boolean ,label: "¿Enviar mail al encuestado?"

			= render partial: 'file_upload', :locals => {f: f}
	.form-actions
		= f.button :submit, :class => 'btn-primary'
		= link_to t('.cancel', :default => t("helpers.links.cancel")), surveys_path, :class => 'btn'

