= simple_form_for @survey, :html => { :class => 'form-horizontal',:multipart => true } do |f|
	.row-fluid
		.span9
			= f.input :name
			=	f.input :code
			.row-fluid
				.span6
					= f.input :start_date, as: :datetime_picker
				.span6	
					= f.input :end_date, as: :datetime_picker
			= f.input :scope, collection: {publico: 0, privado: 1}, include_blank: false
			=	f.input :banner, as: :file
	.form-actions
		= f.button :submit, :class => 'btn-primary btn-large'
		= link_to t('.cancel', :default => t("helpers.links.cancel")), surveys_path, :class => 'btn'

