- model_class = Survey
- provide(:header, "ENCUESTAS")
= will_paginate @surveys
= form_tag destroy_multiple_surveys_path, method: :delete  do
  %table.sortable#surveyTable
    %thead
      %tr
        %th
        %th= model_class.human_attribute_name(:status)
        %th= model_class.human_attribute_name(:code)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:usuario)
        %th= model_class.human_attribute_name(:scope)
        %th= model_class.human_attribute_name(:created_at)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      = render partial: "survey" #= render partial: "survey", collection: @surveys
  = check_box_tag :selectAll
  = button_tag(type: "submit", class: "btn btn-danger", title: "Eliminar selección", data: {confirm: '¿Esta seguro?'}) do
    %i.icon-trash.icon-white
  = link_to( new_survey_path, class: 'btn btn-primary') do
    %i.icon-star.icon-white
    Nueva Encuesta
= will_paginate @surveys

