<tr id= "survey_<%= survey.id %>">
  <td width="250">
    <%# if can_administer? %>
      <%= link_to survey.name, survey_path(survey) %>
    <%# else %>
      <%= survey.name %>
    <%# end %>
  </td>
  <td>
    <ul class=" list-inline">
      <li><%= link_to "Responder Encuesta", new_survey_answer_group_path(survey), class: "btn btn-success btn-small" %></li>
      <%# if can_administer? %>
        <li><%= link_to "Resultados", [:results, survey], class: "btn btn-primary btn-small" %></li>
        <li><%= link_to "Eliminar", [survey], method: :delete, class: "btn btn-danger btn-small",data: { confirm:  '¿Esta seguro?'} %></li>
      <%# end %>
    </il>
  </td>
</tr>