- @surveys.each do |survey|
  %tr
    %td= survey.id
    %td= link_to survey.name, survey_questions_path(survey)
    %td= survey.user_id
    %td=l survey.created_at
    %td
      = link_to "Responder Encuesta", new_survey_answer_group_path(survey), class: "btn btn-success btn-small"
      = link_to "Resultados", [:results, survey], class: "btn btn-primary btn-small"
      = link_to t('.edit', :default => t("helpers.links.edit")), edit_survey_path(survey), :class => 'btn btn-mini'
      = link_to t('.destroy', :default => t("helpers.links.destroy")), survey_path(survey), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Esta seguro?')) }, :class => 'btn btn-mini btn-danger'