- model_class = Survey
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]
= will_paginate @surveys
%table.sortable#surveyTable
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:usuario)
      %th= model_class.human_attribute_name(:scope)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render partial: "survey" #= render partial: "survey", collection: @surveys
= will_paginate @surveys
= link_to t('.new', :default => t("helpers.links.Nueva Encuesta")), new_survey_path, :class => 'btn btn-primary btn-large'
