- provide(:header, "RESULTADOS")
.row-fluid
	.span10.offset1
		%h3=@survey.name
		.pull-right
			= link_to glyph(:"circle-arrow-down"), results_survey_path(format: "xls"), class: "btn btn-mini", title: "Exportar Datos"
		%ul.nav.nav-tabs
			%li.active= link_to "Graficos", "#json-results", "data-toggle" => "tab"
			%li= link_to "Tablas", "#html-results", "data-toggle" => "tab"

		.tab-content
			.tab-pane.active#json-results
				= render partial: "json_results", locals: { survey: @survey }
			.tab-pane#html-results
				= render partial: "html_results", locals: { results: @survey_results }